# python
venv/*
__pycache__/

# vs code files
.vscode/*
*.code-workspace

# project configuration files
.config.json
.env
.fernet.key

# database
users.db

# simulation configuration file
esp32/config.h
esp32/old