flet
requests
flask
flask_jwt_extended
flask_cors
flask_limiter
python-dotenv
sqlalchemy
bcrypt
gtts
better_profanity
cryptography
pyperclip
os
json
tempfile
asyncio
platform
subprocess
pathlib
datetime